*.o
.vscode
.DS_Store

log
1
2
3
4
5
6
7
8

# cpp05
bureaucrat
form
forms
*_shrubbery

# cpp06
scalar_converter
serializer
identify

# cpp07
whatever
iter
array

# cpp08
span
easyfind
mutant_stack

# cpp09
btc
RPN
PmergeMe
__pycache__
